<form>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Service</label>
        <div class="col-10">
            <select name="carlist" form="carform" class="form-control">
                <option value="volvo">LLI</option>
                <option value="saab">LL</option>
                <option value="opel">PBX</option>
                <option value="audi">IPVPN</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Location</label>
        <div class="col-10">
            <select name="carlist" form="carform" class="form-control">
                <option value="volvo">Budapest</option>
                <option value="saab">Debrecen</option>
                <option value="opel">Bugyi</option>
                <option value="audi">Győr</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Speed (Mbps)</label>
    <div class="col-10">
        <input class="form-control" type="text" value="10" id="example-text-input">
    </div>
</div>
    <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Duration (years)</label>
    <div class="col-10">
        <input class="form-control" type="text" value="3" id="example-text-input">
    </div>
</div>
    <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Uptime</label>
    <div class="col-10">
        <select name="carlist" form="carform" class="form-control">
            <option value="volvo">99.5%</option>
            <option value="saab">99.8%</option>
            <option value="opel">99.9%</option>
        </select>
    </div>
</div>
    <div style="text-align: right;" class="row">
    <button type="submit" class="btn btn-default">OK</button></div>
</form>

<br><br><h1>Results:</h1>

<div class="container">
    <h2>CAPEX:</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Sum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>TRM (30 Mbps - Not Budapest)</td>
            <td>1</td>
            <td>600000</td>
            <td>600000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>CPE (30 Mbps): Huawei LS-S2309TP-EI-AC</td>
            <td>1</td>
            <td>55275</td>
            <td>55275</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Config</td>
            <td>1</td>
            <td>50000</td>
            <td>50000</td>
        </tr>
        </tbody>
    </table>
    <div style="text-align: right">
        <h2>SUM CAPEX: 705275 HUF</h2>
    </div>
</div>
<hr>
<div class="container">
    <h2>OPEX:</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Sum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>TRM (30 Mbps)</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Capacity Governance</td>
            <td>1</td>
            <td>10</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Distance</td>
            <td>50</td>
            <td>40</td>
            <td>2000</td>
        </tr>
        </tbody>

    </table>
    <div style="text-align: right">
        <h2>SUM OPEX: 3000 HUF</h2>
    </div>
</div>